<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="body-box" style="padding-top: 6.375em;height:100%;box-sizing: border-box;overflow:auto">
    {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
    {% endif %}

    {% include headerNew.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content" style="min-height:calc(100% - 40px)">
      {{ content }}
    </main>
    <!-- end content -->

    <div class="top ion ion-ios-arrow-up" title="Top"></div>

    {% include footer.html %}

    {% include javascripts.html %}


  </div>
</body>

</html>