---
layout: default
---
<div class="container talk-container">
    {% assign sorted_talks = site.talks | sort:"date" | reverse  %}
    {% assign active_index = 1 %}
    {% if page.url == "/talks" %}
        {% assign talk_home = true %}
    {% else %}
        {% assign talk_home = false %}
    {% endif %}
    <div class="hero">
        <div class="talk-intro">
            <h2 class="hreo_name"><span>{{site.data.settings.TalksPage.name}}</span></h2>
            <div class="hero__subtitle">
                {{site.data.settings.TalksPage.description}}
            </div>
        </div>
    </div>
    <div class="talks-content">
        <div class="left talk-detail" id="talks-detail-list">
            {% if sorted_talks.size > 0 %}
            
                    {% for talk in sorted_talks %}
                        {% if page.url == "/talks" %}
                            {% if active_index == forloop.index %}
                                {% assign display_value = 'block' %}
                            {% else %}
                                {% assign display_value = 'none' %}
                            {% endif %}
                        {% else %}
                        {% if talk.url == page.url %}
                            {% assign display_value = 'block' %}
                        {% else %}
                            {% assign display_value = 'none' %}
                        {% endif %}
                        {% endif %}
                        <div class="talks_{{forloop.index}}" style="display: {{display_value}}">
                            <div class="img_container">
                                {% if talk.video %}
                                {% assign video_languages = talk.video_languages %}
                                {% assign captions = talk.captions %}
                                <div class="accessible-video-player" data-video-player>
                                    <video controls poster="{{site.baseurl}}/{{talk.image}}" x5-video-player-type="h5" x-webkit-airplay="allow" webkit-playsinline="true" x5-playsinline playsinline preload="metadata" controlslist="nodownload" aria-label="{{ talk.title | escape }}">
                                        {% if video_languages and video_languages.size > 0 %}
                                        <source src="{{site.baseurl}}/{{video_languages.first.src}}" type="{{ video_languages.first.type | default: 'video/mp4' }}">
                                        {% else %}
                                        <source src="{{site.baseurl}}/{{talk.video}}" type="video/mp4">
                                        {% endif %}
                                        {% if captions and captions.size > 0 %}
                                            {% for caption in captions %}
                                        <track kind="captions" src="{{site.baseurl}}/{{caption.src}}" srclang="{{caption.code}}" label="{{caption.label}}"{% if caption.default %} default{% endif %}>
                                            {% endfor %}
                                        {% endif %}
                                    </video>
                                    <div class="video-accessibility-controls">
                                        <div class="caption-control">
                                            <button class="caption-menu-button" type="button" aria-expanded="false" aria-haspopup="true" aria-controls="caption-menu-{{forloop.index}}"{% unless captions and captions.size > 0 %} disabled{% endunless %}>
                                                <span aria-hidden="true">CC</span>
                                                <span class="sr-only">{% if captions and captions.size > 0 %}Choose captions{% else %}Captions unavailable{% endif %}</span>
                                            </button>
                                            <div class="caption-menu" id="caption-menu-{{forloop.index}}" role="group" aria-labelledby="caption-menu-title-{{forloop.index}}" hidden>
                                                <div class="caption-menu-title" id="caption-menu-title-{{forloop.index}}">Captions</div>
                                                <label><input type="radio" name="captions-{{forloop.index}}" value="off"> Off</label>
                                                {% if captions and captions.size > 0 %}
                                                    {% for caption in captions %}
                                                <label><input type="radio" name="captions-{{forloop.parentloop.index}}" value="{{caption.code}}"{% if caption.default %} checked{% endif %}> {{caption.label}}</label>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <label class="video-language-control">
                                            <span>Video language</span>
                                            <select aria-label="Video language">
                                                {% if video_languages and video_languages.size > 0 %}
                                                    {% for language in video_languages %}
                                                <option value="{{language.code}}" data-src="{{site.baseurl}}/{{language.src}}" data-type="{{ language.type | default: 'video/mp4' }}">{{language.label}}</option>
                                                    {% endfor %}
                                                {% else %}
                                                <option value="und" data-src="{{site.baseurl}}/{{talk.video}}" data-type="video/mp4">Original</option>
                                                {% endif %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                {% else %}
                                <img src="{{site.baseurl}}/{{talk.image}}" alt="">
                                {% endif %}
                            </div>
                            <h3 class="title">{{talk.title}}</h3>
                            <div>{{talk.content}}</div>
                            {% if talk.talk_url %}
                            <div>
                                <a target="_blank" style="color: #0c76ce;" href="{{talk.talk_url}}">Article details</a>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
            {% endif %}

        </div>
        <div class="right talk-list">
            <ul id="talks-list-btns">
                {% for talk in sorted_talks %}
                <li tabindex=0 class='
                    {% if page.url == "/talks" %}
                        {% if forloop.index == active_index %}
                            active
                        {% endif %}
                    {% else %}
                        {% if talk.url == page.url %}
                            active
                        {% endif %}
                    {% endif %}
                    '
                >

                    <div class="talk-image">
                        <div>
                            <img src="{{site.baseurl}}/{{talk.image}}" alt="">
                            {% if talk.video %}
                            <div class="cover" style="background-image: url({{site.baseurl}}/images/play_icon.png)";"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="talk-content">
                        <!-- <a href="">
                            <a href="{{ site.baseurl }}/talk{{ talk.url | downcase | replace: " ", "-" }}" class="article__tag"><h4>{{talk.title}}</h4></a>
                        </a> -->
                        <span class="article__tag"><h4>{{talk.title}}</h4></span>
                        <span><time datetime="{{ talk.date | date_to_xmlschema }}">{% assign date_format =
                                site.minima.date_format | default: "%B %-d, %Y" %}{{ talk.date | date: '%b %d, %Y'
                                }}</time>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>